@mixin cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0em;
    padding: 0em;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.a-enter-ar {
    display: none;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.hover_loader_container {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 1111;
    @include cent();
    display: flex;

    .hover_loader {
        top: -4em;

        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

        .lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: black;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(24px, 0);
            }
        }

    }
}

.canvas {
    background-color: red;
}

.canvas.a-canvas {
    cursor: none;
    background-color: red;
}

.canvas.a-canvas.a-mouse-cursor-hover {
    cursor: none;
}

.canvas.a-canvas.a-mouse-cursor-hover:hover {
    cursor: none;
}


.the_blach_hover {
    width: 100vw;
    height: 0vh;
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    opacity: 0;
    transition-duration: .6s, 0s;
    transition-delay: 0s, 0s;
    transition-property: opacity, height;

}


.a-loader-title {
    display: none;
    width: 0em;
    opacity: 0;
}


.a-enter-vr {
    background: rgba(55, 55, 60, 0);
    background-image: url('./Images/PNG/VR-icon.png');
    display: none;

    .a-enter-vr-button {
        background: rgba(55, 55, 60, 0);
        border-radius: 0%;
        background-size: 90%;
        background-position: center;
        transform: scale(1);
        // filter: invert(100%);
        background-image: url('./Images/PNG/VR-icon.png');

        &:hover {
            background-image: url('./Images/PNG/VR-icon.png');
            transform: scale(1.1);
        }
    }

    &:hover {
        background: rgba(55, 55, 60, 0);
    }

}



.the_info_active {

    ion-icon {
        opacity: 0;
    }

    ion-icon:nth-child(2) {
        opacity: 1;
    }
}


.the_gallery {
    border: .5em solid #f1f1f1;
    position: absolute;
    @include cent();
    background-color: #f1f1f1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    top: 2%;
    left: 2%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;


    &:hover {
        transform: scale(1.1);
    }

    ion-icon {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 1;
        transition-duration: .1s;
    }

    ion-icon:nth-child(2) {
        opacity: 0;
    }

}

.the_gallery_active {
    ion-icon {
        opacity: 0;
    }

    ion-icon:nth-child(2) {
        opacity: 1;
    }
}



.the_gallery_container {
    position: absolute;
    top: 10vh;
    left: -50vw;
    z-index: 10;
    width: 8em;
    height: 80vh;
    background-color: rgba(#f1f1f1, .9);
    border-radius: .5em;
    @include cent();
    flex-wrap: wrap;
    cursor: pointer;
    transition-duration: 1s;
    outline: none;


    .oneImage {
        width: 6em;
        height: 4em;
        background-image: url('./Images/gallery/Image-1.jpg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: .5em;
        outline: none;

        &:hover {
            transform: scale(1.1);
        }
    }

    .oneImage:nth-child(2) {
        background-image: url('./Images/gallery/Image-2.jpg');
    }

    .oneImage:nth-child(3) {
        background-image: url('./Images/gallery/Image-3.jpg');
    }

    .oneImage:nth-child(4) {
        background-image: url('./Images/gallery/Image-4.jpg');
    }

    .oneImage:nth-child(5) {
        background-image: url('./Images/gallery/Image-5.jpg');
    }

    .oneImage:nth-child(6) {
        background-image: url('./Images/gallery/Image-6.jpg');
    }

    .oneImage:nth-child(7) {
        background-image: url('./Images/gallery/Image-7.jpg');
    }

    .oneImage:nth-child(8) {
        background-image: url('./Images/gallery/Image-8.jpg');
    }
}

.The_Image {
    position: absolute;
    width: 90vh;
    height: auto;
    top: -50%;
    left: 50%;
    border: .5em solid #f1f1f1;
    background-color: #f1f1f1;
    z-index: 10;
    border-radius: .5em;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 1s;

    img {

        transform: translate(0%, .3%);
    }

}

.The_Image_Back_Cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(#222, .7);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;

}


.logo {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 5em;
    height: 5em;
    z-index: 10;
    background-image: url('./Images/PNG/Logo.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.link_to_archviz {
    width: 1.5em;
    height: 1.5em;
    position: fixed;
    bottom: calc(2% + 0em);
    left: calc(2% + 0em);
    @include cent();
    z-index: 10;
    padding: .3em;
    color: #f1f1f1;
    font-weight: 500;
    text-decoration: none;
    background-image: url('./Images/PNG/favicon.png');
    background-repeat: no-repeat;
    background-size: 100%;


    &:hover {
        transform: scale(1.1);
    }
}

@media all and (max-width: 1000px) {
    .The_Image {
        width: 93vw;
        left: 2.5vw;
        transform: translate(0%, -87%);
        border: .3em solid #f1f1f1;
        // top: -20vh;

        img {
            transform: translate(0%, .5%);
        }
    }


    .the_gallery_container {
        position: absolute;
        top: 55vh;
        left: -250vw;
        transform: translate(-.6em, 0%) scale(.9);
        width: 20em;
        height: 14em;
        background-color: rgba(#222, .0);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: .5em;
        grid-row-gap: .5em;



        .oneImage {
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .a-enter-vr {
        background-image: url('./Images/PNG/VR-icon.png');
        display: flex;
    }

    .link_to_archviz {
        left: 50%;
        transform: translate(0%, 0%);
        filter: invert(0);
        bottom: 1em;
        right: none;
        left: 1em;
    }
}